<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1><%= t('books')%></h1>

      <div class="list-group">


          <% @books.each do |book| %>
            <%= link_to book, class: 'list-group-item' do %>
              <h3><%= book.title %></h3>
              <p><%= book.authors.map{|author| author.name }.join ', ' %></p>
      				<p><%= book.isbn %></p>
            <% end %>
          <% end %>

      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <%= button_to 'Add Book', new_book_path, method: :get, class: 'btn btn-default' %>
    </div>
  </div>
</div>
