<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Bearinventory</title>
				<link rel="apple-touch-icon-precomposed" href="bear-152-23595.png">
				<link rel="icon" type="image/x-icon" href="favicon.ico">
				<link rel="apple-touch-icon-precomposed" sizes="152x152" href="bear-152-23595.png">

				<link rel="apple-touch-icon-precomposed" sizes="144x144" href="bear-144-23595.png">

				<link rel="apple-touch-icon-precomposed" sizes="120x120" href="bear-120-23595.png">

				<link rel="apple-touch-icon-precomposed" sizes="114x114" href="bear-114-23595.png">

				<link rel="apple-touch-icon-precomposed" sizes="72x72" href="bear-72-23595.png">

				<link rel="apple-touch-icon-precomposed" href="bear-57-23595.png">

				<link rel="icon" href="bear-32-23595.png" sizes="32x32">
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
				<meta name="msapplication-TileColor" content="#ffffff" />
				<meta name="msapplication-TileImage" content="bear-144-23595.png">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
		<div class="container">
			<%= render 'menu' %>
			<%= render 'flash' %>
			<div class="row">
        <%= yield %>
      </div>
		</div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.2.min.js"><\/script>')</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X');ga('send','pageview');
        </script>
    </body>
</html>
